* {
	margin: 0 auto;
}

body {
	background-color: #222326;
	color: white;
	white-space: nowrap;
}

#header {
	height: 50px;
	margin-bottom: 70px;
	border-bottom: 1px solid #FFF;
}

#nav {
	margin-top: 30px;
}

#nav li {
	text-decoration: none;
	display: inline;
	padding-left: 40px;
}

.root {
	text-align: center;
}

.artist_input {
	width: 320px;
}

.img_container:hover .artist_img_overlay {
	opacity:0.5;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.img_container {
	height: 200px;
	width: 200px;
	background-size: cover;
	padding: 0 5px 0 5px;
	background-clip: content-box;
	cursor: pointer;
}

.artist_img_overlay {
	opacity: 0;
}

.left {
	margin-left: 10%;
	float: left;
}

.right {
	margin-right: 10%;
	float: right;
}

.item_container {
	vertical-align: top;
}

.item {
	display: block;
}

.related_group {
	display: inline-block;
	border: solid 1px white;
}

.related_group > div {
	display: inline-block;
}
