* {
	margin: 0 auto;
}

html, body {
	width: 100%;
	height: 100%;
	background-color: #222326;
	color: white;
}

#header {
	height: 50px;
	margin-bottom: 70px;
	border-bottom: 1px solid #FFF;
}

#nav {
	margin-top: 30px;
}

#nav li {
	text-decoration: none;
	display: inline;
	padding-left: 40px;
}

.artist_input {
	width: 320px;
}

.img_container {
	margin: 0;
	height: 200px;
	width: 200px;
	overflow: hidden;
}

.artist_img {
	height: 100%;
	text-align: center;
}

.left {
	margin-left: 10%;
	float: left;
}

.right {
	margin-right: 10%;
	float: right;
}

.content {
	text-align: left;
}